/*低分辨率电脑*/
@media screen and (max-height: 600px) {
	.sou-bottom{
		margin-bottom: 0;
	}
}
/*手机版*/
@media screen and (max-width: 500px) {
	.header{
		border: none;
	}
	.menu-list{
		position: fixed;
		width: 100%;
		height: 0;
		top: 0;
		left: 0;
		background: #424349;
		display: flex;
		flex-direction: column;
		justify-content: start;
		overflow: hidden;
	}
	.menu-list-tab{
		height: 64px;
		width: 100%;
	}
	.menu-list-tab:hover{
		background: rgba(255, 255, 255, 0.2);
		transition: all .3s;
	}
	.menu-list-tab-active::before{
		background: none;
	}
	.menu-list-tab:hover::after{
		width: 0;
	}
	.close-btn{
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		bottom: 24px;
	}
	.logo{
		margin-left: 16px;
	}
	.fold-btn{
		display: block;
		width: 32px;
		height: 32px;
		margin-right: 16px;
	}
	.sign-btn1{
		margin-right: 16px;
	}
	.sou-top b{
		font-size: 32px;
		letter-spacing: 0.1em;
	}
	.sou-top div{
		font-size: 12px;
		width: 70%;
	}
	.sou-top span{
		font-size: 20px;
	}
	.sou-box{
		width: 80%;
	}
	.number-length{
		right: 50px;
	}
	.sou-icon{
		width: 8%;
	}
	.sou-bottom{
		margin-bottom: 20vh;
	}
	.zFooter{
		height: 60px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.footer-left{
		margin-left: 0;
		font-size: 12px;
	}
	.footer-right{
		margin-right: 0;
		font-size: 12px;
		height: 20px;
		margin-bottom: 16px;
	}
	
}