html,
body {
    height: 100%;
}
body {
    margin: 0;
    background: linear-gradient(-135deg, #006f79, darkblue);
}
canvas {
    display: block;
}
.waves {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

input::input-placeholder{color:  #FFFFFF;} 
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #FFFFFF; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #FFFFFF; 
} 
::-moz-placeholder { /* Mozilla Firefox 19  */ 
color: #FFFFFF; 
} 
:-ms-input-placeholder { /* Internet Explorer 10  */ 
color: #FFFFFF; 
}
*{
	text-decoration: none;
}
/*主色调*/
:root{
	--ViColor: #FFE01B;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	border-bottom: solid 1px rgba(255, 255, 255 , 0.3);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
}
.logo{
	height: 46px;
	margin-left: 40px;
}
.menu-list{
	width: 60vw;
	height: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-list-tab{
	display: block;
	width: 16.6%;
	height: 80px;
	color: #ffffff;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.menu-list-tab::after{
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	margin: 0 auto;
	height: 2px;
	background: var(--ViColor);
	transition: all .3s;
}
.menu-list-tab:hover::after{
	width: 100%;
}
.menu-list-tab-active{
	color: var(--ViColor);
}
.menu-list-tab-active::before{
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: var(--ViColor);
	transition: all .3s;
}
.close-btn{
	display: none;
}
.header-right{
	display: flex;
	align-items: center;
}
.fold-btn{
	display: none;
}
.sign-btn1{
	width: 80px;
	height: 36px;
	background: var(--ViColor);
	text-align: center;
	line-height: 36px;
	font-size: 13px;
	color: #ffffff;
	margin-right: 40px;
	border-radius: 4px;
	cursor: pointer;
	transition: all .3s;
	color: #2953BF;
}
.sign-btn1:hover{
	background: #DCC21C;
}
.zBody{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
}
.sou{
	position: absolute;
	margin: auto;
	top: 10vh;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sou-top{
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sou-top b{
	font-size: 48px;
	text-align: center;
	letter-spacing: 0.16em;
	color: #FFFFFF;
}
.sou-top div{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	margin-top: 6px;
}
.sou-top span{
	font-size: 24px;
	font-style:italic;
	margin-left: 4px;
	margin-right: 8px;
}
.sou-box{
	width: 32vw;
	height: 48px;
	background: rgba(255, 255, 255 , 0.1);
	box-sizing: border-box;
	border-radius: 24px;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
	margin-top: 56px;
	transition: all .3s;
}
.sou-box input{
	width: 90%;
	background: none;
	border: none;
	color: #FFFFFF;
	font-size: 15px;
	margin-left: 24px;
	outline: none;
}
.sou-box:hover{
	background: rgba(255, 255, 255 , 0.2);
}
.sou-icon{
	width: 5%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.sou-icon img{
	width: 30px;
	height: 30px;
}
.sou-bottom{
	display: flex;
	color: #FFFFFF;
	font-size: 13px;
	margin-bottom: 180px;
	margin-top: 56px;
}
.sou-btn1,.sou-btn2{
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all .3s;
}
.sou-btn1{
	background: var(--ViColor);
	margin-right: 12px;
	color: #2953BF;
}
.sou-btn1:hover{
	background: #DCC21C;
}
.sou-btn2{
	background: rgba(255, 255, 255, 0.3);
}
.sou-btn2:hover{
	background: rgba(255, 255, 255, 0.25);
}
.zFooter{
	width: 100%;
	height: 40px;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-content: space-between;
}
.footer-left{
	font-size: 13px;
	color: rgba(255, 255, 255 , 0.5);
	margin-left: 40px;
}
.footer-right{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 13px;
	color: rgba(255, 255, 255 , 0.5);
	margin-right: 40px;
}
.police-bei{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 16px;
}
.police-bei img{
	width: 18px;
	height: 18px;
	margin-right: 8px;
}
